

<div>
<h2>Actualidad</h2>
<div class="row2">
 
  <div class="box">
    <img
    class="img_responsive"
    source srcset="./assets/images/img_noticia_resp_small.jpg 1x, 
                      ./assets/images/img_noticia_resp_small_2x.jpg 2x,
                      ./assets/images/img_noticia_resp_big.jpg 1x, 
                      ./assets/images/img_noticia_resp_big_2x.jpg 2x"
    src="./assets/images/img_noticia_resp.jpg"  alt="respo-img"
                      />
    
    <div class="box-content">
      <p class="author">12 de diciembre de 2023</p>
      <a  href="noticia.html"><h3>Rozalén celebra la Navidad con Tiempo de paz</h3></a>
      <p>Tiempo de paz es fruto de...</p>
      <a class="btn-terciario" href="noticia.html">Leer más &nbsp;<span>&gt;</span></a> </div>

</div>  
<div class="box">
  <img
  class="img_responsive"
  source srcset="./assets/images/img_noticia_2_resp_small.jpg 1x, 
                    ./assets/images/img_noticia_2_resp_small_2x.jpg 2x,
                    ./assets/images/img_noticia_2_resp_big.jpg 1x, 
                    ./assets/images/img_noticia_2_resp_big_2x.jpg 2x"
  src="./assets/images/img_noticia_2_resp.jpg"  alt="respo-img"
                    />

  <div class="box-content">
    <p class="author">11 de noviembre de 2022</p>
    <a  href="noticia.html"> <h3>Rozalén estrena este 11 de noviembre Matriz</h3></a>
    <p>Tiempo de paz es fruto de...</p>
    <a class="btn-terciario" href="noticia.html">Leer más &nbsp;<span>&gt;</span></a> </div>

</div>  
<div class="box">

  <img
  class="img_responsive"
  source srcset="./assets/images/img_noticia_resp_small.jpg 1x, 
                    ./assets/images/img_noticia_resp_small_2x.jpg 2x,
                    ./assets/images/img_noticia_resp_big.jpg 1x, 
                    ./assets/images/img_noticia_resp_big_2x.jpg 2x"
  src="./assets/images/img_noticia_resp.jpg"  alt="respo-img"
                    />

  <div class="box-content">
    <p class="author">21 de octubre de 2022</p>
    <a  href="noticia.html"><h3> La voz de Rozalén brilla en catalán </h3></a>
    <p>“Amor del bo” es una...</p>
    <a class="btn-terciario" href="noticia.html">Leer más &nbsp;<span>&gt;</span></a> </div>

</div> 
<div class="box">
   <img
    class="img_responsive"
    source srcset="./assets/images/img_noticia_resp_small.jpg 1x, 
                      ./assets/images/img_noticia_resp_small_2x.jpg 2x,
                      ./assets/images/img_noticia_resp_big.jpg 1x, 
                      ./assets/images/img_noticia_resp_big_2x.jpg 2x"
    src="./assets/images/img_noticia_resp.jpg"  alt="respo-img"
                      />


  <div class="box-content">
    <p class="author">12 de diciembre de 2023</p>
    <a  href="noticia.html"><h3> Rozalén celebra la Navidad con Tiempo de paz</h3></a>
    <p>Tiempo de paz es fruto de la colaboración de...</p>
    <a class="btn-terciario" href="noticia.html">Leer más &nbsp;<span>&gt;</span></a> </div>

</div>

</div>