<!doctype html>
<html lang="es-ES">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>Rozalen music</title>
    <link rel="stylesheet" href="./assets/styles/styles.css">
    <link rel="stylesheet" href="./assets/styles/componentes.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" />
<link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/16b380b602.js" crossorigin="anonymous"></script>

<link rel="icon" href="./assets/images/favicon.ico" type="image/x-icon" />


 
  

<header class="header">

   <div class="cont_top_fechas">
      <div class="top_fechas">
         <div class="contenido_top_fechas">
      <p>Medellin Festival | 18 mayo 2024<a class="btn-terciario" href="#">comprar</a></p> 
      <p>Barcelona | Del 7 al 11 de agosto de 2024<a class="btn-terciario" href="#">comprar</a></p>
      <p>Gijón | Del 7 al 11 de agosto de 2024<a class="btn-terciario" href="#">comprar</a></p>
      <p>Dublín | Del 7 al 11 de agosto de 2024<a class="btn-terciario" href="#">comprar</a></p>
      <p>Londres | Del 7 al 11 de agosto de 2024<a class="btn-terciario" href="#">comprar</a></p>
      <p>Aranda de Duero | Del 7 al 11 de agosto de 2024<a class="btn-terciario" href="#">comprar</a></p>
     
   </div>
</div>
</div>

    <div class="logo"><a href="index.html">


      <picture>
         <source srcset="./assets/images/logo_Rozalen_n.svg" type="image/svg+xml">
         <img src="./assets/images/logo_Rozalen_n.png" alt="Logo"></a></div>
       </picture>
       

    <div class="title"> <h4>Sitio No oficial</h4> </div>


     
    <nav class="nav">
      <nav class="navbar">
          <a href="/src/index.html" class="nav_item">Inicio <i class="fa-solid fa-chevron-right"></i></a>
          <a href="/src/Actualidad.html" class="nav_item">Actualidad <i class="fa-solid fa-chevron-right"></i></a>
          <a href="/src/presentacion.html" class="nav_item">Presentación <i class="fa-solid fa-chevron-right"></i></a>
          <a href="/src/enlaces.html" class="nav_item">Enlaces <i class="fa-solid fa-chevron-right"></i></a>
      </nav>
  </nav>


  <nav class="menuHTML">

      <label for="menu-toggle">
   
         <div class="botonMenu">
   
            <span></span>
   
            <span></span>
   
            <span></span>
   
         </div>
   
      </label>
   
      <input type="checkbox" id="menu-toggle" />
   
   <ul id="trickMenu">
   
         <li><a href="/src/index.html">Inicio <i class="fa-solid fa-chevron-right"></i></a></li>
   
         <li><a href="/src/Actualidad.html">Actualidad <i class="fa-solid fa-chevron-right"></i></a></li>
   
         <li><a href="/src/presentacion.html">Presentación <i class="fa-solid fa-chevron-right"></i></a></li>

         <li><a href="/src/enlaces.html">Enlaces <i class="fa-solid fa-chevron-right"></i></a></li>
   
      </ul>
   
   </nav>



</header>
</div>
