@keyframes movimiento-horizontal {
    0% {
      transform: translateX(0%);
    }
    25% {
      transform: translateX(-25%);
    }
    50% {
      transform: translateX(-50%);
    }
    75% {
      transform: translateX(-75%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .cont_top_fechas {
    overflow: hidden;
    height: 4rem;
    display: block;
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 5rem;
    
  }
  
  .top_fechas {
    width: 100%;
    background: var(--base-black);
    color: var(--light-cream);
    border-top: 5px solid var(--base-black);
    border-bottom: 5px solid var(--base-black);
    overflow: hidden;
    display: flex;
    align-items: center; /* Ensure content is centered vertically */
  }
  
  .contenido_top_fechas {
    display: flex;
    align-items: center;
    white-space: nowrap;
    animation-name: movimiento-horizontal;
    animation-duration: 100s; /* Adjust duration for desired speed */
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  .top_fechas p {
    margin: 0 80px;
    font-size: 1.1rem;
  }
  
  .top_fechas p a {
    margin-left: 10px;
    color: var(--contrast-purple);
  }



/* iconos */ 
.fa-solid, .fas {
  font-weight: 600;
}

.fa-classic, .fa-regular, .fa-solid, .far, .fas {
  font-family: "Font Awesome 6 Free";
}



/* botones */ 
.primary-button  {
  background: var(--white);
  border: 2px solid var(--base-black);
  padding: 1.1rem 3rem;
  box-shadow:
    5px 5px var(--base-black),
    inset 5px 5px var(--white),
    inset 1px 1px var(--base-black);
  font-family: -system-ui, sans-serif;
  font-weight: bold;
  font-size: 1rem;
  position: relative;
  border-radius: 20px;
  transition: all .3s;

  }
  .primary-button  a{
    color: var(--base-black);
    text-decoration: none;
  } 

  .primary-button:after {
    left: 100%;
    top: 5px;
    height: 5px;
    width: 10px;
  }

  .primary-button:hover {
    transform: translate(-4px, -2px); /* Desplazamiento hacia adelante */
    box-shadow:
      7px 7px var(--base-black),
      inset 7px 7px var(--white),
      inset 1px 1px var(--base-black);
  }

  .secondary-button {
    color: var(--contrast-purple);
    text-align: left;
    background-color: transparent;
    border: none;
    width: fit-content;
    margin: 0px 2px;
    padding: 13px 6px;
    font-family: "Poppins", sans-serif;
    font-size: 1.5em;
    text-decoration: none;
    display: inline-block;
}


.secondary-button:hover {
  transform: translate(-4px, -2px); /* Desplazamiento hacia adelante */
  color: var(--base-black);
 
}



  .btn {
    height: 3em;
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 1rem;
    color: var(--contrast-purple);
    border:none;
    border-radius: 20px;
  
  }
  .btn:hover {
    height: 3em;
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 1rem;
    color: var(--base-black);
    border:none;
  
  }
  
  .btn-terciario {
  background-color: var(--light-cream);
  border-radius: 10px;
  font-size: 0.9rem;
  padding: 0.1rem 0.2rem;
  font-weight: 500;
  
  }

  .btn-terciario {
    background-color: var(--light-cream);
    border-radius: 10px;
    font-size: 0.9rem;
    padding: 0.1rem 0.2rem;
    font-weight: 500;
    transition: all .3s;
  position: relative;
    
    }

    .btn-terciario:hover {
     opacity: 0.8;
      transform: translate(-2px, -1px);
    }