
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


/* variables de color */
:root {
  --base-black: #0d1b1c;
  --contrast-purple: #825377;
  --light-cream: #e8e5dc;
  --white: rgb(255, 255, 255);

  --text-color: var(--base-black);
  --footer-bg-color: var(--base-black);
  --contrast-color: var(--contrast-purple);
  --light-contrast-color: var(--light-purple);
  --footer-hover-link: var(--contrast-purple);
  --link-color: var(--contrast-purple);
  --p-color: var(--light-cream);
  --hover-link-color: var(--base-black);
  --footer-link: var(--white);
  --font-family: "roboto", Arial, Helvetica, sans-serif;
}



body {
  height: 100vh;
  color: var(--base-black);
  background: var(--light-cream);
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-display: swap; /* Carga asíncrona */
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.logo {
  width:190px;
  margin-top:0.5rem;
}

.logo_footer{
  margin-top: 1.5rem;
}

a {
  text-decoration: none;
}

a h3 {
  color: var(--base-black);
  text-decoration: none;

}

a h3:hover  {
  color: var(--contrast-purple);

}



/* header */ 

.header {
  z-index: 4;
  background-color: rgba(255, 255, 255, .9);
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 0rem;
  padding-right: 4rem;
  display: flex;
  position: fixed;
  top: 0;
  flex-direction: row;
}

.nav {
  padding-right: 20px;
}


.nav_item {
  color: var(--base-black);
  align-items: center;
  height: 100%;
  margin-right: 30px;
  font-size: 1.1rem;
  font-weight: 300;
  transition: all .3s cubic-bezier(.075,.82,.165,1);
  position: relative;
  text-decoration: none;
  font-weight: 400;
}

a.nav_item:hover {
  color: var(--contrast-purple);
}



/* nav toggle */ 

nav.menuHTML {
  display: none;
}


/* Style the dropdown menu */
#trickMenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--contrast-purple);
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 0;
  z-index: 4;
  margin-top: 0rem;
}

#trickMenu li {
  list-style: none;
  color: var(--white);
}

#trickMenu a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
}

#trickMenu li:hover {
  background-color: var(--contrast-purple);

}

/* Show the menu when the checkbox is checked */
#menu-toggle:checked + label + #trickMenu {
  display: flex;
  flex-direction: column;
}


/* hero */ 

  .hero {
    height: 25rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 76px;
    max-width: 1040px;
    margin: 8rem auto 0rem;
  }
  
  .hero-text, .video-mask {
    width: 37rem;

}

.video-mask iframe {
  border: none;
  width: 565px;
  height: 375px;
  position: relative;
  top: 22px;
  left: 0;
  mask-image: url('../images/cloud.svg'); /* Ruta a tu imagen SVG para la máscara */
  mask-size: 100%;
  mask-repeat: no-repeat;

}
.container {
  position: relative;
}

.breadcrumb {
  position: absolute;
  top: 20px; /* Ajusta la posición vertical según necesites */
  left: 20px; /* Ajusta la posición horizontal según necesites */
  z-index: 3; /* Asegura que el breadcrumb esté por encima del hero */
  padding: 1rem 16vw;
  margin-top: 80px;
}

  .breadcrumb a:hover {
  color: var(--base-black);
  
   }

.img_responsive img {
  width: 100%;
  height: auto;
}


.hero-interna {
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: space-between; /* Add space between the items */
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  padding: 20px; /* Optional: Add some padding */
  box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
  background-size: 59%;
  max-width: 1040px;
    margin: 0 auto;
    padding-top: 110px;
}



.hero-presentacion{
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: space-between; /* Add space between the items */
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  padding: 20px; /* Optional: Add some padding */
  box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
  background-size: 59%;
  max-width: 1040px;
    margin: 0 auto;
    padding-top: 9rem;
    max-width: 1040px;
    margin: 0 auto;
    display: flex;
}

.hero-container {
  position: relative;
  justify-content: center; /* Alinear horizontalmente el contenido al centro */
  align-items: center;
  overflow: hidden;
  width:100%;
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  height: 20rem;

}




.hero-img {
  -webkit-flex: 0 0 auto;
  -moz-box-flex: 0;
  flex: 1;

  padding-top: 6rem;
}

.hero-text {
  text-align: left; 
  flex: 1;
  padding: 20px;
}


.hero-img img {
  max-width: 100%; /* Ensure the image is responsive */
  height: auto; /* Maintain the aspect ratio */
}
svg.R {
  width: 7rem;
}





@keyframes wiggle {
  0%, 100% {
    clip-path: ellipse(37% 41% at 50% 50%);
  }
  10% {
    clip-path: ellipse(38% 42% at 50% 50%);
  }
  20% {
    clip-path: ellipse(39% 43% at 50% 50%);
  }
  30% {
    clip-path: ellipse(40% 44% at 50% 50%);
  }
  40% {
    clip-path: ellipse(41% 45% at 50% 50%);
  }
  50% {
    clip-path: ellipse(42% 46% at 50% 50%);
  }
  60% {
    clip-path: ellipse(41% 45% at 50% 50%);
  }
  70% {
    clip-path: ellipse(40% 44% at 50% 50%);
  }
  80% {
    clip-path: ellipse(39% 43% at 50% 50%);
  }
  90% {
    clip-path: ellipse(38% 42% at 50% 50%);
  }
}
 
.clip-path2{
  width: 300px;
  height: 260px;
  background-size: cover;
  background-image: url('../images/hero_img_actualidad_big.webp');
  clip-path: ellipse(37% 41% at 50% 50%);

}

.path {
  stroke-dasharray: 2740;
  stroke-dashoffset: 3000;
  animation: dash 2s linear forwards;
}



@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}


@keyframes wiggle {
  0% {
    clip-path: ellipse(37% 41% at 50% 50%);
  }
  25% {
    clip-path: ellipse(42% 39% at 50% 50%);
  }
  50% {
    clip-path: ellipse(32% 43% at 50% 50%);
  }
  75% {
    clip-path: ellipse(38% 40% at 50% 50%);
  }
  100% {
    clip-path: ellipse(37% 41% at 50% 50%);
  }
}


.clip-svg {
clip-path: path('M370.5,329Q343,418,248,404.5Q153,391,88,315.5Q23,240,90,167.5Q157,95,236,102.5Q315,110,356.5,175Q398,240,370.5,329Z');

}



/* container */ 
.row1 {
  display: flex;
  justify-content: center;
  align-items: center;

}




/* tabla conciertos */ 
table {
  width: 95%;
}
.table-fluid{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--contrast-purple);
  color:var(--white);
  border-radius: 20px; /* adjust the value to change the roundness */
}

td {
  padding: 1.5rem;
  font-size: 1.1rem;
}


tr {
  border-bottom: 1px solid var(--base-black); /* Aplica el borde inferior a todas las filas */
  position: relative; /* Asegura que el z-index funcione correctamente */
}




.fecha {
  position: relative;
  font-size: 2rem;
  font-family: var(--font-family) ;
  font-weight: 600;
  text-align: center; 
}

.mes {
  display: block;
  text-align: center; 
}
.table{

  width:70%;
}



h2{
  font-size: 2.3em;
  text-align: center;
  text-transform: uppercase;
}

h3{
  font-size: 1.7em;

}

p {
  font-size: 1.5em;
}



/*actualidad*/
  .row2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    gap: 1rem;
    background-color: var(--light-cream);
    padding: 2rem;
}


.box {
  display: flex;
  position: relative;
  overflow: hidden;
  }

.box-content {
  color: var(--base-black);
  background-color: rgba(255,255,255,.8);
  width: 100%;
  padding: .5rem;
  font-size: .8rem;
  position: absolute;
  bottom: 0;
  left: 0;
}

  .img_responsive {
    width: 100%;
    height: auto;
  }

  .img_responsive img {
    width: 100%;
  }



  .box-link {
    display: block;  /* Establece un contexto de bloque */
    overflow: hidden; /* Evita el desbordamiento visual durante la transformación */
    position: relative; /* Posicionamiento relativo para el contexto */
  }
  
  .transition-image {
    display: block;
    width: 100%;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Transición de transform y opacity */
    transform-origin: center; /* Mantiene la transformación centrada */
  }
  
  .box-link:hover .transition-image {
    transform: scale(1.1) translateX(-5%) translateY(-5%); /* Escala y ajusta la imagen */
    opacity: 0.7; /* Cambia la opacidad */
  }
  
  .box-link:hover {
    filter: brightness(70%) contrast(100%) saturate(100%); /* Aplica filtros al hacer hover en el enlace */
    transition: filter 0.3s ease; /* Transición suave para el filtro */
  }

  

.row3 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
  gap: 1rem;
  padding: 2rem;
}

.row3 img {
  width: 100%;
}


.author {
  font-size: 1rem;
}



.footer {
  background-color: var(--base-black);
  display: flex;
  height: auto;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.rrss {
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: auto;
    gap: 1rem;
    padding: 2rem;
    display: grid;
    align-content: center;
    list-style-type: none; 
    color:var(--white);
  }
  .enlaces {
    gap: 1rem;
    padding: 2rem;
    display: flex;
    list-style-type: none;
  }

  .enlaces ul{
    list-style-type: none; 
    color:var(--white);
  }

  .enlaces a{
    color: var(--light-cream);
  }

  .enlaces a:hover{
    color: var(--contrast-purple);
  }
  .fa-brands, .fab {
    font-weight: 400;
    font-size: 2em;
    color: var(--light-cream);
}

.fa-brands, .fab {
  font-weight: 400;
  font-size: 2em;
  color: var(--light-cream);
}

i.fa-brands:hover{
  color: var(--contrast-purple);
}

.presentacion, .presentacion-impar{
  min-height: 15rem;
  display: flex;
  flex-direction: row;
  gap: 5vw;
  padding: 3rem 16vw 3rem;
}



.imagen-rotada {
  width: 100%;
  margin: 0px;
}
.imagen-rotada img{
  width:100%;
}


.dark-theme{
background-color: var(--base-black);
color: var(--light-cream);
}

.light-theme{
background-color: var(--light-cream);
color: var(--base-black);
 }

.noticia{
display: grid;
    grid-template-columns:  1fr;
    padding: 1rem 16vw;
    margin-top: 80px;

  }


  .enlace{
    padding: 1rem 16vw;
    margin-top: 80px;
  }

  .center {
    display: flex;
    justify-content: center;
  }


  .noticia_imagen{
    text-align: center;
  }

  .texto {
    width: 70%;
}
@media screen and (max-width: 1024px) {

  .row2 {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
  }
  
  .row3 {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
  }
  
  }



@media screen and (max-width: 768px) {


  /* nav*/ 


  nav.menuHTML {
    display: block;
    width: 5rem;
}

nav.nav {
  display: none;
}

.botonMenu{
margin: 0 auto;
display: block;
width: 30px;
height: 30px;
padding: 10px;
border-radius: 7px;
background: var(--contrast-purple);
color: white;
cursor: pointer;
position: relative;

}

.botonMenu span{
  display: block;
  width: 32px;
  height: 3px;
  background: white;
  margin-top: 5px;
}

label{

cursor: pointer;

}

#menu-toggle

{

   display: none;

}

#trickMenu{

   display: none;

   text-align: center;

   background: white;

   padding: 10px 0;
   margin-top:-0.8rem;

}

#trickMenu li a{

   padding: 10px 0;

   color: black;

}


#trickMenu li {
  color: var(--white);
  list-style: none;
  width: 100%;
  text-align: left;
  padding: 1rem;

}

#menu-toggle:checked + #trickMenu{
  align-items: flex-start;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex-direction: column;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;

}


.hero {
  flex-direction: row;
  justify-content: center;
  padding: 1rem 1.2rem 4rem;
  display: flex;
  flex-wrap: wrap;
}

.hero-text {
  width: 100%;
  padding-left: 0px;
}
.hero-container {
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 1rem;
  position: relative;
  overflow: hidden;

}


  .item {
    color: var(--contrast-purple);
    align-items: center;
    height: 100%;
    margin-right: 30px;
    font-size: 20px;
    font-weight: 300;
    transition: all .3s cubic-bezier(.075,.82,.165,1);
    display: flex;
    position: relative;
    
    }


    .table-fluid {
      width: 93%;
    }


    table {
      width: 98%;
  }

  td {

    padding: 2.5rem;
    font-family: var(--font-family);
    font-size: 1rem;
    padding-left: 17px;
    padding-right: 0px;
    
}


td:last-child {
  padding-right: 0; /* Elimina el padding derecho en la última celda */
}



.primary-button {
  padding: 1rem 1rem;

}

.fecha {
  text-align: center;
  font-size: 1.1rem;
}
.extrainfo {
  display: none;
}


.row2 {
  grid-template-columns:  1fr;
  grid-auto-rows: auto;
  padding: 1rem;

}




.row3 {
grid-template-columns: 1fr;
grid-auto-rows: auto;
}

.footer {
  display: flex;
  flex-direction: column;
}

.presentacion {
  padding: 10rem 6vw 0rem;
  flex-direction: column;
}
.presentacion-impar {
  display: flex;
  flex-direction: column-reverse;
  gap: 4vw;
  padding: 0;
  margin: 0rem 0.5rem 0rem 0.5rem;
  min-height: 50rem;
}

.noticia {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
}

.noticia h3, .noticia_texto, .noticia_imagen{
  width: 93%;
  padding: 1rem;
  margin: 0;
}

  .noticia_imagen iframe {
    width: 100%;
    } 


.rsss {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  
} 

.enlaces{
display: flex;
list-style-type: none;
flex-direction: column;
text-align: center;
}


.hero-interna {
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 59%;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1040px;
  margin: 0 auto;
  padding: 110px 20px 20px;
  display: flex;
  flex-direction: column !important; 
 
}



} 

@media screen and (max-width: 420px) {

  .breadcrumb {

    padding: 2rem 0vw;

}

  .clip-svg {
    width: 100%;
  }

  .hero-container {
    top: 3rem;
}


.container-guitar{
    margin-top: -295px;
    z-index: 1;
}


} 